<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>http://43.201.125.166:8080/api/v1</string>
	<key>AMPLITUDE_API_KEY</key>
	<string>e978cfaf01a7c291b192699881f6b580</string>
	<key>KAKAO_API_KEY</key>
	<string>f06c671df540ff4a8f8275f453368748</string>
</dict>
</plist>
